Repository gwpy/pyomicron, pull requests merged in 2020-04, with the labels that each got.

#114 Add support for python3.8
  .travis.yml
  setup.py
Labels: pr:bug-fix

#115 Add dependency upon framecpp
  environment.yml
  requirements.yml
Labels: pr:bug-fix

#116 Add KAGRA lock information
  omicron/segments.py
Labels: omicron.segments, pr:bug-fix

#117 Support GEO600 science segments
  omicron/segments.py
Labels: omicron.segments
